

.switch {
  position: relative;
  display: inline-block;
  --width: 60px; /*Make sure its a multiple of 30 And the ratio is of 1.76*/
  --height: 34px; /*Make sure its a multiple of 17*/
  --padding: 4px;
  --innerheight: calc(var(--height) - calc(var(--padding) * 2));
  --movesize: calc(
    (var(--width) - calc(var(--padding) * 2)) - var(--innerheight)
  );
  width: var(--width);
  height: var(--height);
  transform:translateY(-8.5px);
  user-select: none;
}

.switch input {
  opacity: 0;
  /*font-size: 34px;*/
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--innerheight);
  width: var(--innerheight);
  left: var(--padding);
  bottom: var(--padding);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--theme);
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--movesize));
  -ms-transform: translateX(var(--movesize));
  transform: translateX(var(--movesize));
}

/* Rounded sliders */
.slider.round {
  border-radius: var(--height);
}

.slider.round:before {
  border-radius: 50%;
}
